<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140721999-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-140721999-1');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
      <%= seo.subtitle %>
  </title>
  <meta name="description" content=" <%= seo.description %> ">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>

    <!-- header start -->
      <header>
      <div class="container">
            <div class="header-contacts">
                <div class="header-phone">
                  <a title="Позвонить" href="tel:+380955792417"><i class="fas fa-phone-square fa-lg"></i>+380 95 579 24 17</a>
                </div>
                <div class="header-viber">
                  <a title="Viber" href="viber://chat?number=+380955792417"><i class="fab fa-viber fa-lg"></i>Viber</a>
                </div>
            </div>
            <div class="header-nav">
                <div class="logo">
                    <a href="/">
                      <img class="logoImg" src="../img/logo.png" alt="Логотип">
                    </a>
                </div>
                <nav class="navigation">
                    <button type="button" class="nav-btn">
                      Меню
                      <span class="burger-line"></span>
                    </button>
                    <ul class="menu">
                        <li><a href="/">Главная</a></li>
                        <li>
                          <a class="menu-item">Галерея</a>
                          <ul class="menu-sub">
                            <% for (let i = 0; i < galleryNames.length; i++) { %>
                            <li><a href="/<%= galleryNamesEn[i] %>">
                                <%= galleryNames[i] %></a></li>
                            <% }; %> 
                          </ul>
                        </li>
                        <li>
                          <a class="menu-item">Услуги</a>
                          <ul class="menu-sub">
                              <% for (let i = 0; i < prices.length; i++) { %>
                                <li><a href="/<%= pricesEn[i] %>">
                                    <%= prices[i] %></a></li>
                                <% }; %>  
                          </ul>
                        </li>
                        <li><a href="/o-semke">О съемке</a></li>
                        <li><a href="/otzyvy">Отзывы</a></li>
                        <li><a href="/obo-mne">Обо мне</a></li>
                        <li><a href="/kontakty">Контакты</a></li>
                        <li><a href="kontakty">Акции</a></li>
                    </ul>
                </nav>
            </div>
      </div>
      </header>
    <!-- header end -->

    <!-- main start -->
    <main>

      <section class="universal-gallery">

        <div class="container">
            
            <h1 class="gallery-title">
              <%= seo.title %>
            </h1>

          <div class="universal-gallery-items">
              
              <% photos.forEach(function(photo, i) { %>
                <div class="universal-gallery-photo">
                    <img src="/img/photos/<%= category %>/<%= title %>/<%= photo %>" class="universal-gallery-img" alt="<%= seo.alts[i] %>">
                </div>
              <% }); %> 
              
            </div>

        </div>

      </section>

    </main>
    <!-- main end -->

  <!-- footer start -->
  <footer>

    <div class="container">
      <div class="footer-social-items">
        <div class="footer-social-item">
          <a title="Позвонить" href="tel:+380955792417"><i class="fas fa-phone-square fa-lg"></i>+380 95 579 24 17</a>
        </div>
        <div class="footer-social-item">
          <a title="instagram" href="https://www.instagram.com/alina.piatyhor/"><i class="fab fa-instagram fa-lg"></i>instagram</a>
        </div>
        <div class="footer-social-item">
          <a title="facebook" href="https://www.facebook.com/a.ivaschenko1"><i class="fab fa-facebook-square fa-lg"></i>facebook</a>
        </div>
        <div class="footer-social-item">
          <a title="@mail" href="mailto:alina.piatyhor@gmail.com"><i class="far fa-envelope fa-lg"></i>alina.piatyhor@gmail.com</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- footer end -->

  <script src="/js/library.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>